
<div class="mini-navbar-wrapper">
    <app-mini-navbar></app-mini-navbar>
</div>
<div *ngIf="readingPreviewsWithCategory !== null" class="categories-container">
    <section class="category" *ngFor="let category of readingPreviewsWithCategory">
        <span [routerLink]="[category.path]" class="mat-title">{{ category.name }}</span>
        <div class="category__row">
            <app-reading-block
                [routerLink]="preview.name.includes('състав') ? ['/','pages','foods'] : category.name == 'Статии' ? [category.path,preview.id] : [category.path,preview.path]"
                [title]="preview.name" [imageUrl]="preview.imageUrl" *ngFor="let preview of category.previews">
            </app-reading-block>
        </div>
    </section>
</div>