.inner-navbar-container {
  .heading {
    h1 {
      text-align: center;
      margin:0;
      margin-bottom: 2rem;
      font-size: 45px;
      font-weight: 500;
    }
  }
  .inner-navbar {
    display:flex;
    justify-content: center;
    .toolbar {
      background: white;
      width: 80%;
      display:flex;
      justify-content: space-between;
      border-radius: 5px;
      & > *:hover {
        cursor: pointer;
        font-size: 21px;
      }
    }
  }
}
