.sub-categories-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 87%;
  margin: 0 auto;

  app-reading-block {
    margin-bottom: 1.8rem;
    &:not(:nth-child(3)) {
      margin-right: 1.8rem;
    }
  }
}

.mini-navbar-wrapper {
  margin-bottom: 1.5rem;
  min-width: 75rem;
}

.sub-categories-wrapper {
  width:75%;
  margin:0 auto;
}