.food-details-container {
  width: 65%;
  margin: 0 auto;
  .food-intro {
    width: 40%;
    margin: 0 auto;
    .food-description {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 1rem;
      img {
        width: 110px;
        height: 110px;
        border-radius: 100px;
      }
      .title {
        margin-left: 1rem;
        h1 {
          font-weight: 500;
          margin: 0;
          margin-bottom: 0.5rem;
        }
        p {
          color: #9c9da6;
        }
      }
    }

    .core-nutrients {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
  .food-details {
    height: 2500px;
    display:flex;
    flex-flow: column wrap;
    .food-details-table {
        margin:0;
        padding:0;
        width: 35rem;
        margin-bottom: 2rem;
        mat-card-header {
            h1 {
                margin-top: 1rem;
            }
        }
        ul {
            line-height: 2.5;
            li {
                display:flex;
                justify-content: space-between;
                &:nth-child(odd) {
                    background: #F6F6F9;
                }
                &:hover:nth-child(even) {
                    background: #F6F6F9;
                }
                span {
                    margin: 0.5rem 1rem 0.5rem 1rem;
                }
            }
        }

    }
}
}
