<div *ngIf="(this.mode$ | async) === 'view' " class="food-details-container">
    <section class="food-intro">
        <div class="food-description">
            <img src="https://bbteamcdn.com/img/food/251193_130.jpg" alt="">
            <div class="title">
                <h1 class="mat-display-2">{{foodDetails.name}}</h1>
                <p class="mat-headline">{{foodDetails.description}}</p>
            </div>
        </div>
        <div>
            <p class="mat-subheading-2"><span class="mat-title">100 г</span> съдържат:</p>
            <div class="core-nutrients">
                <div>
                    <span class="mat-headline">{{foodDetails.calories}}</span>
                    <p class="mat-subheading-1">калории</p>
                </div>
                <div *ngFor="let nutrient of coreNutrients">
                    <span class="mat-headline">{{nutrient.quantity}}</span>
                    <p class="mat-subheading-1">{{nutrient.name}}</p>
                </div>
                <button (click)="switchMode('edit')" class="edit-button" mat-flat-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </section>
    <section class="food-details">
        <mat-card *ngFor="let nutrient of allNutrients" class="food-details-table">
            <mat-card-header>
                <h1 class="mat-heading-2">{{nutrient.name}}</h1>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li *ngFor="let subnutrient of nutrient.subNutrients">
                        <span>{{subnutrient.name}}</span>
                        <span>{{subnutrient.quantity}}</span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </section>
</div>
<div *ngIf="(this.mode$ | async) === 'edit'">
    <app-edit-food [allNutrients]="allNutrients" [coreNutrients]="coreNutrients" [foodDetails]="foodDetails"></app-edit-food>
</div>
<app-send-question></app-send-question>
