<footer class="footer-wrapper">
    <div class="footer-img-wrapper">
        <img src="https://bbteamcdn.com/img/site/slogan.png" alt="">
    </div>
    <div class="footer-content">
        <article class="mini-article">
            <h5>
                Нашите услуги<nb-icon class="icon" icon="arrow-ios-forward-outline"></nb-icon>
            </h5>
            <ul>
                <li>Програма: по-добро начало</li>
                <li>Тренирай със StayFit</li>
                <li>"Хей, StayFit" абонамент</li>
                <li>Корпоративна програма</li>
                <li>Онлайн магазин</li>
            </ul>
        </article>
        <article class="mini-article">
            <h5>
                StayFit<nb-icon class="icon" icon="arrow-ios-forward-outline"></nb-icon>
            </h5>
            <ul>
                <li>Нашата история</li>
                <li>Методът на StayFit</li>
                <li>Отзиви от клиенти</li>
                <li>Екип</li>
                <li>Свободни позиции</li>
                <li>Имейл бюлетин</li>
                <li>BB-лог</li>
                <li>Контакти</li>
            </ul>
        </article>
        <article class="mini-article">
            <h5>
                Знание<nb-icon class="icon" icon="arrow-ios-forward-outline"></nb-icon>
            </h5>
            <ul>
                <li>Ръководства за начинаещи</li>
                <li>Хранителни режими</li>
                <li>Калориен калкулатор</li>
                <li>База данни с хранителен състав</li>
                <li>Рецепти</li>
                <li>Тренировъчни програми</li>
                <li>Упражнения</li>
                <li>Справочник на хранителни добавки</li>
                <li>Всички статии</li>
            </ul>
        </article>
        <article class="mini-article">
            <h5>
                Общество<nb-icon class="icon" icon="arrow-ios-forward-outline"></nb-icon>
            </h5>
            <ul>
                <li>#StayFit</li>
                <li>Форум</li>
                <li>Facebook група</li>
            </ul>
        </article>
    </div>
    <div class="social-media">
        <img src="https://img.icons8.com/color/48/000000/facebook.png"/>
        <img src="https://img.icons8.com/color/48/000000/twitter-squared.png"/>
        <img src="https://img.icons8.com/cute-clipart/64/000000/instagram-new.png"/>
        <img src="https://img.icons8.com/color/48/000000/youtube--v1.png"/>
        <img src="https://img.icons8.com/color/48/000000/linkedin.png"/>
    </div>
    <div class="more">
        <ul>
            <li>Условия за ползване</li>
            <li>Защита на личните данни</li>
            <li>Карта на сайта</li>
        </ul>
    </div>
    <div class="copyright">
        <img src="https://img.icons8.com/material-outlined/24/000000/creative-commons-all-rights-reserved.png"/>
        <p>Copyright</p>
        <h6>StayFit</h6>
    </div>
</footer> 