<div class="login-wrapper">
  <div class="login-container u-margin-auto--center">
    <form>
      <mat-toolbar class="o-row-container--content-c" color="primary">Вход</mat-toolbar>
      <mat-card>
        <form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="submit()">
          <mat-form-field>
            <input autofocus type="text" matInput placeholder="Потребителско име" formControlName="username" />
          </mat-form-field>
          <mat-form-field>
            <input type="password" autocomplete="false" matInput placeholder="Парола" formControlName="password" />
          </mat-form-field>
          <div class="o-row-container o-row-container--content-c">
            <button class="login-button" type="submit" mat-raised-button color="primary">Влез</button>
          </div>
        </form>
        <br />
        <span>
          Ако нямате профил, може да се регистрирате
          <a routerLink="/account/register">тук</a>
        </span>
      </mat-card>
    </form>
  </div>
</div>