<div class="knowledge-wrapper">
    <app-knowledge-navigation></app-knowledge-navigation>
    <div class="main-content">
        <app-article></app-article>
        <app-article></app-article>
        <app-article></app-article>
        <app-article></app-article>
        <app-article></app-article>
        <app-article></app-article>
        <!-- <app-new-articles></app-new-articles>
        <app-new-articles></app-new-articles>
        <app-new-articles></app-new-articles> -->
        <!-- <app-instruments></app-instruments> -->
        <!-- <app-newbies-guide></app-newbies-guide> -->
    </div>
</div>