.home-wrapper {
    .starting-page-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        .heading,
        .quote {
            text-align: center;
        }
        .heading {
            font-size: 3rem;
        }
        .quote {
            font-size: 1.5rem;
            width: 30%;
            line-height: 2;
        }
        .services-button {
            width: 12rem;
        }
        .btn {
            padding: 1.2rem 1rem;
            font-size: 1rem;
        }
        .pic {
            width: 100%;
        }
    }
    .site-description-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        .heading-1 {
            font-size: 2.5rem;
        }
        .quote-1 {
            width: 40%;
            font-size: 1.2rem;
            text-align: center;
        }

        .mini-article {
            width: 85%;
            margin-top: 5rem;
            display:flex;
            flex-flow: row;
            justify-content: center;

            .description {
                width: 35%;
                p {
                    font-size: 1.1rem;
                    line-height: 1.8;
                }
            }
            .description-img img{
                width: 35rem;
            }
        }
    }
    .send-question {
        display:flex;
        flex-flow:column;
        margin-top: 3rem;
        height: 12rem;
        background: #2A3854;
        align-items: center;
        h5 {
            color: white;
            margin-top: 1.5rem;
        }
        button {
            min-width: 12%;
            padding: 1.6rem 0.5rem;
            font-size: 1.1rem;
        }
    }
}
