.page-container {
  width: 50%;
  margin: 0 auto;

  mat-card-header {
    justify-content: center;
  }

  .content {
    display: flex;
    flex-flow: column;
    & > *:first-child {
      margin-bottom: 0.5rem;
    }
    .title-image-container {
      display: flex;
      align-items: center;
      .title-container {
        width: 82%;
        mat-form-field {
          width: 100%;
        }
      }
      .image-container {
        display: flex;
        flex-grow: 1;
        justify-content: center;
      }
    }
  }
  mat-card-actions {
    margin: 0;
  }
}
