<div class="page-container">
  <mat-card>
    <form [formGroup]="this.formGroup" (ngSubmit)="submit()">
      <mat-card-header>
        <h2 class="mat-display-1 title">Добавяне на ново четиво към сайта</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="content">
          <div class="title-image-container">
            <section class="title-container">
              <mat-form-field class="title">
                <mat-label>Заглавие</mat-label>
                <input matInput type="text" placeholder="Тренировки на открито" formControlName="title" />
                <mat-error *ngIf="this.formGroup.get('title')?.hasError('required')">{{requiredField}}</mat-error>
                <mat-error *ngIf="this.formGroup.get('title')?.hasError('minlength')">{{fieldMinLength(5)}}</mat-error>
              </mat-form-field>
            </section>
            <section class="image-container">
              <input class="hidden-image" type="file" hidden="true" #uploader onclick="this.value = null"
                (change)="fileChange(uploader.files)" />
              <button type="button" mat-flat-button color="primary" (click)="uploader.click()">
                Изберете снимка
              </button>
            </section>
          </div>
          <mat-form-field appearance="fill" class="main-category">
            <mat-label>Избор на основна категория</mat-label>
            <mat-select formControlName="readingMainCategoryId" (valueChange)="loadSubCategories($event)">
              <mat-option *ngFor="let category of this.mainCategories$ | async"
                [value]="{ id: category.id, hasChildren: category.hasChildren }">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="
              (this.subCategories$ | async) &&
              (this.subCategories$ | async)!.length > 0
            " appearance="fill" class="main-category">
            <mat-label>Избор на подкатегория</mat-label>
            <mat-select formControlName="readingSubCategoryId">
              <mat-option *ngFor="let category of this.subCategories$ | async" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Съдържание</mat-label>
            <textarea matInput formControlName="content" cols="30" rows="10"></textarea>
            <mat-error>{{requiredField}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-flat-button color="primary">Изпрати</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>