.navbar {
  margin-bottom: 3rem;
  .logo {
    margin: 0;
  }
  .user-menu-icon {
    transform: scale(1.5);
  }
  div {
    height: fit-content;
  }
  justify-content: space-between;
  .navbar-items {
    display:flex;
    align-items: center;
    width:80%;
    justify-content: space-between;
  }
  span {
    padding-right: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  .mat-icon:hover {
    cursor: pointer;
  }
}
.mat-menu-panel {
  opacity: 1 !important;
  transform: scale(1, 1) !important;
}
.dummy {
  margin-bottom: 5rem;
}
