div {
  display: flex;
  justify-content: center;
  height: 3rem;
  margin-bottom: 2rem;
  p {
    display: flex;
    font-size: 20px;
    width: 22%;
    justify-content: center;
    align-items: center;
    height: 100%;
    &:hover {
      background-color: #efeff4;
      cursor: pointer;
    }
  }
  .user-menu {
    width: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 4rem;
    nb-icon {
      width: 2rem;
      height: 2rem;
      color: #9c9da6;
      &:hover {
        cursor: pointer;
        color: #848483;
      }
    }
  }
}
