<mat-toolbar color="primary" class="navbar">
  <div [routerLink]="['/']" class="mat-display-1 logo">Stay Fit</div>
  <div class="navbar-items">
    <span [routerLink]="item.link" *ngFor="let item of userNavItems$ | async">{{
      item.title
      }}</span>
    <mat-icon *ngIf="!(isLoggedIn$ | async)" [mat-menu-trigger-for]="menu">input</mat-icon>
    <mat-icon class="user-menu-icon" *ngIf="isLoggedIn$ | async" [mat-menu-trigger-for]="menu">menu_open</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [mat-menu-trigger-for]="admin">
        Администрация
      </button>
      <button (click)="logout(item)" [routerLink]="item.link" mat-menu-item
        *ngFor="let item of this.userItems$ | async">
        {{ item.title }}
      </button>
    </mat-menu>
    <mat-menu dire #admin="matMenu">
      <button [routerLink]="['admin', 'new-reading']" mat-menu-item>
        Добави ново четиво
      </button>
      <button mat-menu-item>Добави нова статия</button>
    </mat-menu>
    <mat-menu #dummy></mat-menu>
  </div>
</mat-toolbar>