<div class="register-wrapper">
  <div class="register-container u-margin-auto--center">
    <mat-toolbar class="o-row-container--content-c mat-title" color="primary">Регистрация</mat-toolbar>
    <mat-card>
      <form [formGroup]="registerForm" #formDirective="ngForm" (ngSubmit)="submit()">

        <mat-form-field>
          <input type="text" matInput placeholder="Име *" formControlName="firstName" />
          <mat-error>Дължината на полето трябва да бъде между 2 и 40 символа</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Фамилия *" formControlName="lastName" />
          <mat-error>Дължината на полето трябва да бъде между 2 и 40 символа</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <input autofocus type="email" matInput placeholder="Имейл *" formControlName="email" />
          <mat-error>Невалиден имейл</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input autofocus type="text" matInput placeholder="Потребителско име *" formControlName="username" />
          <mat-error>Дължината на полето трябва да бъде между 4 и 50 символа</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" autocomplete="false" matInput placeholder="Парола *" formControlName="password" />
          <mat-error>Паролата не е попълнена или не съвпада</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" autocomplete="false" matInput placeholder="Потвърждаване на паролата *"
            formControlName="confirmPassword" />
        </mat-form-field>

        <mat-radio-group color="warn" formControlName="gender">
          <mat-radio-button [checked]="true" value="male">Мъж</mat-radio-button>
          <mat-radio-button value="female">Жена</mat-radio-button>
        </mat-radio-group>

        <div class="o-row-container o-row-container--content-c">
          <button class="submit-button" type="submit" mat-raised-button color="primary">
            Регистрирай ме
          </button>
        </div>
      </form>
      <div class="already-registered">
        <span>Имаш акаунт? &nbsp;</span>
        <a [routerLink]="['/','account','login']">Влез с него.</a>
      </div>
    </mat-card>
  </div>
</div>