<div class="home-wrapper">
    <div class="starting-page-wrapper">
        <h2 class="heading">По-добър живот.</h2>
        <p class="quote">
            Това не са мечти. Това са резултатите, които хората постигат, благодарение
            на StayFit.
        </p>
        <button class="btn-services mt-2" ico status="success">Виж нашите услуги</button>
        <img class="pic" src="https://bbteamcdn.com/img/site/homepage/home-page.png" alt="" />
    </div>
    <div class="site-description-wrapper">
        <h2 class="heading-1">Хората стават по-добри със StayFit.</h2>
        <p class="quote-1">
            Нека ти разкажем за резултатите, които постигаме заедно с нашите клиенти:
        </p>
        <div class="mini-article">
            <div class="description">
                <h3>По-добър план = повече свободно време.</h3>
                <p>
                    "Нямам време". Чували сме го от кого ли не. Почти винаги е оправдание,
                    а не причина да не се погрижим за себе си.
                </p>
                <p>
                    Знаем как да ти помогнем с планирането, така че да отделяш време за
                    важното за теб. Тренировката и добрата храна не правят изключение.
                </p>
            </div>
            <div class="description-img">
                <img src="https://bbteamcdn.com/img/site/homepage/save-time.png" alt="" />
            </div>
        </div>
        <div class="mini-article">
            <div class="description-img">
                <img src="https://bbteamcdn.com/img/site/homepage/less-stress.png" alt="" />
            </div>
            <div class="description">
                <h3>Повече енергия. По-малко стрес.</h3>
                <p>
                    Изненада! Когато се погрижиш за тялото си, то ще ти се отблагодари
                </p>
                <p>
                    Да се събуждаш без енергия или пък да заспиваш трудно ... това ще бъде
                    в миналото.
                </p>
            </div>
        </div>
        <div class="mini-article">
            <div class="description">
                <h3>Храненето - под твой контрол.</h3>
                <p>
                    Отношението и разбирането на потребностите да се храним прави храната
                    наш приятел, а не враг.
                </p>
                <p>По-добрите хранителни навици са в основата на метода на StayFit.</p>
            </div>
            <div class="description-img">
                <img src="https://bbteamcdn.com/img/site/homepage/eat-better.png" alt="" />
            </div>
        </div>
        <div class="mini-article">
            <div class="description-img">
                <img src="https://bbteamcdn.com/img/site/homepage/movement.png" alt="" />
            </div>
            <div class="description">
                <h3>Повече движение и смислени тренировки.</h3>
                <p>
                    Противно на очакванията твърде често сме свидетели на грешни
                    разбирания за нуждата от движение и трениране.
                </p>
                <p>
                    Планираме и двете в програмите на клиентите ни, така че всичко да се
                    прави с желание, както и да се постигат желаните резултати.
                </p>
            </div>
        </div>
        <div class="mini-article">
            <div class="description">
                <h3>Сигурна защита от митове и заблуди.</h3>
                <p>
                    Всеки ден ставаме свидетели на щури или откровено лъжливи твърдения,
                    свързани с нашето здраве.
                </p>
                <p>Със StayFit не се колебаеш на кого да вярваш и какво да направиш.</p>
            </div>
            <div class="description-img">
                <img src="https://bbteamcdn.com/img/site/homepage/understanding.png" alt="" />
            </div>
        </div>
        <div class="mini-article">
            <div class="description-img">
                <img src="https://bbteamcdn.com/img/site/homepage/team.png" alt="" />
            </div>
            <div class="description">
                <h3>Ние сме отбор.</h3>
                <p>
                    И в силните, и в слабите моменти. Много по-лесно, забавно и успешно е
                    да получаваш подкрепа по време на всяка стъпка от промяната.
                </p>
                <p>Имаш я със StayFit</p>
            </div>
        </div>
    </div>
    <div class="send-question">
        <h5>Вземи здравето си в собствени ръце. Ето как:</h5>
        <button nbButton status="mt-2">Изпрати запитване</button>
    </div>
</div>