<div class="home-page-container">
  <div class="site-motto">
    <h1 class="mat-display-3">По-добър живот.</h1>
    <p class="mat-display-1">
      Това не са мечти. Това са резултатите, които хората постигат. По нормалния
      начин. Този на StayFit.
    </p>
    <button class="service-button mat-subheading-2" color="accent" mat-raised-button>
      <span class="mat-headline">Виж нашите услуги</span>
    </button>
  </div>
  <img class="pic" src="https://bbteamcdn.com/img/site/homepage/home-page.png" alt="" />
  <div class="site-description">
    <div class="title">
      <h3 class="mat-display-3">Хората стават по-добри с BB-Team.</h3>
      <p class="mat-headline">
        Нека ти разкажем за резултатите, които постигаме заедно с нашите
        клиенти:
      </p>
    </div>
    <section class="article">
      <div class="article-text">
        <p class="mat-title">По-добър план = повече свободно време.</p>
        <p class="mat-subheading-2">
          "Нямам време". Чували сме го от кого ли не. Почти винаги е оправдание,
          а не причина да не се погрижим за себе си.
        </p>
        <p class="mat-subheading-2">
          Знаем как да ти помогнем с планирането, така че да отделяш време за
          важното за теб. Тренировката и добрата храна не правят изключение.
        </p>
      </div>
      <div class="article-image">
        <img src="https://bbteamcdn.com/img/site/homepage/save-time.png" alt="" />
      </div>
    </section>
    <section class="article">
      <div class="article-image">
        <img src="https://bbteamcdn.com/img/site/homepage/less-stress.png" alt="" />
      </div>
      <div class="article-text">
        <p class="mat-title">Повече енергия. По-малко стрес.</p>
        <p class="mat-subheading-2">
          Изненада! Когато се погрижиш за тялото си, то ще ти се отблагодари.
        </p>
        <p class="mat-subheading-2">
          Изненада! Когато се погрижиш за тялото си, то ще ти се отблагодари.
        </p>
      </div>
    </section>
    <section class="article">
      <div class="article-text">
        <p class="mat-title">Храненето - под твой контрол.</p>
        <p class="mat-subheading-2">
          Отношението и разбирането на потребностите да се храним прави храната
          наш приятел, а не враг.
        </p>
        <p class="mat-subheading-2">
          По-добрите хранителни навици са в основата на метода на StayFit
        </p>
      </div>
      <div class="article-image">
        <img src="https://bbteamcdn.com/img/site/homepage/eat-better.png" alt="" />
      </div>
    </section>
    <section class="article">
      <div class="article-image">
        <img src="https://bbteamcdn.com/img/site/homepage/movement.png" alt="" />
      </div>
      <div class="article-text">
        <p class="mat-title">Повече движение и смислени тренировки.</p>
        <p class="mat-subheading-2">
          Противно на очакванията твърде често сме свидетели на грешни
          разбирания за нуждата от движение и трениране.
        </p>
        <p class="mat-subheading-2">
          Планираме и двете в програмите на клиентите ни, така че всичко да се
          прави с желание, както и да се постигат желаните резултати.
        </p>
      </div>
    </section>
    <section class="article">
      <div class="article-text">
        <p class="mat-title">Сигурна защита от митове и заблуди.</p>
        <p class="mat-subheading-2">
          Всеки ден ставаме свидетели на щури или откровено лъжливи твърдения,
          свързани с нашето здраве.
        </p>
        <p class="mat-subheading-2">
          Със StayFit не се колебаеш на кого да вярваш и какво да направиш.
        </p>
      </div>
      <div class="article-image">
        <img src="https://bbteamcdn.com/img/site/homepage/understanding.png" alt="" />
      </div>
    </section>
    <section class="article">
      <div class="article-image">
        <img src="https://bbteamcdn.com/img/site/homepage/team.png" alt="" />
      </div>
      <div class="article-text">
        <p class="mat-title">Ние сме отбор.</p>
        <p class="mat-subheading-2">
          И в силните, и в слабите моменти. Много по-лесно, забавно и успешно е
          да получаваш подкрепа по време на всяка стъпка от промяната.
        </p>
        <p class="mat-subheading-2">Имаш я със StayFit.</p>
      </div>
    </section>
  </div>
  
  <!-- <mat-toolbar color="primary" class="home-end">
    <mat-toolbar-row>Вземи здравето си в собствени ръце. Ето как:</mat-toolbar-row>
    <mat-toolbar-row>
      <button class="service-button mat-subheading-2" color="accent" mat-raised-button>
        <span class="mat-headline">Изпрати запитване</span>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar> -->
  <app-send-question></app-send-question>
</div>