.main-categories-container {
    display: flex;
    flex-flow: row wrap;
    width: 87%;
    justify-content: center;
    margin: 0 auto;

    app-reading-block {
        margin-bottom: 1.8rem;
        margin-right: 1.8rem;
    }
}

.mini-navbar-wrapper {
    margin-bottom: 1.5rem;
    min-width: 80rem;
}

.main-categories-wrapper {
    width: 75%;
    margin: 0 auto;
}