<div *ngIf="isLoadingArticles">
    <nb-card size="giant" [nbSpinner]="isLoading" nbSpinnerStatus="danger">
        <nb-card-body></nb-card-body>
    </nb-card>
</div>
<div class="new-articles" *ngIf="!isLoadingArticles">
    <h5>Нови статии <nb-icon icon="arrow-ios-forward-outline"></nb-icon></h5>
    <div class="article-wrapper">
        <div class="simple-article" *ngFor="let recentArticle of this.recentArticles">
            <img src={{recentArticle.imageUrl}} alt="">
            <h6>{{recentArticle.title}}</h6>
        </div>
    </div>
</div>