<!-- <nb-layout>
  <nb-layout-column>
    <app-loading-spinner *ngIf="showLoading$ | async"></app-loading-spinner>
    <app-navigation> </app-navigation>
    <div class="o-grey-background">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </nb-layout-column>
</nb-layout> -->
<ng-container>
  <app-loading-spinner *ngIf="showLoading$ | async"></app-loading-spinner>
  <app-navigation></app-navigation>
  <div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</ng-container>
