<div class="page-container">
  <mat-card>
    <form>
      <mat-card-header>
        <h2 class="mat-display-1 title">Добавяне на нова храна към сайта</h2>
      </mat-card-header>
      <section class="form-content">
        <mat-form-field appearance="outline">
          <mat-label>Избор на категория</mat-label>
          <mat-select (selectionChange)="loadFoodsCategories($event)">
            <mat-option [value]="0">Избор</mat-option>
            <mat-option [value]="category.name" *ngFor="let category of this.foodCategories$ | async">{{ category.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Избор на храна</mat-label>
          <mat-select (selectionChange)="loadNutrients()" [disabled]="(this.foodsByCategory$ | async)!.length == 0">
            <mat-option [value]="food.name" *ngFor="let food of this.foodsByCategory$ | async">{{ food.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Нутриенти</mat-label>
          <mat-select multiple>
            <mat-select-trigger>
              {{(chosenNutrients$ | async) ? (chosenNutrients$ | async)[0]?.name : ''}}
              <span *ngIf="(chosenNutrients$ | async)?.length > 1">
                (+{{(chosenNutrients$ | async).length - 1}} {{(chosenNutrients$ | async).length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-optgroup [label]="group.name" *ngFor="let group of foodNutrients$ | async">
              <mat-option (click)="selectNutrient(group.id, group.name, subNutrient.id, subNutrient.name)"
              [value]="{ id: group.id, name: subNutrient.name }" *ngFor="let subNutrient of group.subNutrients">{{subNutrient.name }}</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <form [formGroup]="this.foodForm">
          <div [formGroupName]="a.id" *ngFor="let a of chosenNutrients$ | async">
            <h2>{{a.name}}</h2>
            <input [formControlName]="b.id" type="text" *ngFor="let b of a.subNutrients" />
          </div>
          <button>Click</button>
        </form>
      </section>
    </form>
  </mat-card>
</div>