<nb-layout-header>
    <ul [ngClass]="{'test1':!isLoggedIn}" class="navigation-box">
        <li routerLink="/">StayFit</li>
        <li *ngIf="!isLoggedIn">Услуги</li>
        <li *ngIf="isLoggedIn">Дневник</li>
        <li *ngIf="isLoggedIn">Прогрес</li>
        <li *ngIf="isLoggedIn">Форум</li>
        <li>Магазин</li>
        <li routerLink="/knowledge" >Знание</li>
        <div id="menu" class="menu" #menu>
            <nb-card accent="success" class="test" *ngIf="!isLoggedIn">
                <nb-menu [items]="this.menuUserItems">
                </nb-menu>
            </nb-card>
            <nb-card accent="warning" *ngIf="isLoggedIn">
                <nb-menu [items]="this.menuGuestItems">
                </nb-menu>
            </nb-card>
        </div>
    </ul> 
</nb-layout-header>



    