nb-card {
  min-width:600px;
  width: 55vw;
  height: auto !important;

  .nutrient-wrapper {
    padding: 1.5rem;
    h5 {
      width: fit-content;
      border-bottom: 2px solid black;
    }
    .nutrient-content {
      display:flex;
      flex-flow: row wrap;
      .nutrient {
        margin-right: 2rem;
      }
    }
  }
}
.test {
  border: none;
  height:50px !important;
  background: #FFFFFF !important;
}
