.reading-container {
    width: 40%;
    margin: 0 auto;
    img {
        width: 700px;
        height: 400px;
    }
    .title {
        margin:0;
        margin: 1.5rem 0rem;
    }
    .content {
        font-size: 17px;
        line-height: 1.5;
    }
}